@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap');

* {
    box-sizing: border-box;
    --main-accent-color: #FFC436;
    --dark-accent-color: #0C356A;
    --main-color: #0174BE;
    --main-light-color: white;
  }
  
  body {
    background: rgb(249,196,255);
    background: linear-gradient(349deg, rgba(249,196,255,1) 0%, rgba(176,176,255,1) 25%, rgba(255,255,255,1) 100%);
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    min-height: 300vh;
  }

  
  .patient-card{
    margin: 20px 20px;
    padding: 20px 30px 30px 30px;
    filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.025));
    background-color: white;
    border-radius: 20px;
    max-width: 30%;
    max-height: 100%;
    overflow: hidden;
    min-height: 277px;

  }



  .patient-card img {
    border-radius: 10px;
    width: 80px;
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading-spinner {
    width: 50px;
    height: 50px;
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #383636; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }

  .loading{
    width: 100vw;
    height: 100vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }

  .patient-card p {
    font-size: 15px;
  }

  .list-wrapper{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .identity-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .patient-list {
    max-width: 1440px;
    margin: 50px auto;
  }

  #title {
    width: 100%;
    text-align: center;
    margin-top: 60px;
    font-size: 2em;
  }

  .addCard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 283px;
    background-color: transparent;
    border: 1px var(--main-color) dashed;
  }

  .addPatient{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .addBtn{
    width: 120px;
    height: 120px;
    cursor: pointer;
    border-radius: 200px;
    border: none;
    color: var(--main-color);
  }

  .name {
    padding: 20px;
    font-size: 20px;
  }

  .formGroup{
    display: flex;
    width: 100%;
    flex-direction: row;
    gap: 15px;
  }

  .descriptionBox{
    width: 100%;
  }

  .textbtn{
    background-color: transparent;
    color: var(--main-color);
    font-family: 'Quicksand', sans-serif!important;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: .9em!important;
  }

  .customBtn{
    border: 0px solid var(--main-color);
    background-color: var(--main-color);
    border-radius: 40px;
    width: 35px;
    height: 35px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .editIcon {
    font-size: 1em!important;
    color: white;
  }

  .btnWrapper{
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 15px;
  }

  

  .MuiButton-contained  {
    font-family: 'Quicksand', sans-serif!important;
    border-radius: 15px!important;
  }



  @media (max-width: 1100px) {
    .list-wrapper{
      flex-direction: column;
      padding: 0 8%;
      justify-content: center;
      align-items: center;
    }

    .patient-card{
      max-width: 100%;
    }

    .addCard{
      max-width: 90%;
    }
  }